<section id="gallery">
  <div class="container">
    <div class="most-picked">
        <h2>{{'landingPage.gallery.Most Picked' | translate}}</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="most-picked-img">
              <div class="most-picked-img-layer">
                <i class="fa-solid fa-2x fa-eye"></i>
                <i class="fa-solid fa-2x fa-heart"></i>
              </div>
              <div class="most-picked-img-widge">
                <h3>
                  <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                </h3>
              </div>
              <img src="../../../../../../assets/images/img1.png" alt=""/>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="most-picked-img">
                  <div class="most-picked-img-layer">
                    <i class="fa-solid fa-2x fa-eye"></i>
                    <i class="fa-solid fa-2x fa-heart"></i>
                  </div>
                  <div class="most-picked-img-widge">
                    <h3>
                      <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                    </h3>
                  </div>
                  <img src="../../../../../../assets/images/img3.png" alt="" />
                </div>
              </div>
        
            
                <div class="col-md-6">
                    <div class="most-picked-img">
                      <div class="most-picked-img-layer">
                        <i class="fa-solid fa-2x fa-eye"></i>
                        <i class="fa-solid fa-2x fa-heart"></i>
                      </div>
                      <div class="most-picked-img-widge">
                        <h3>
                          <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                        </h3>
                      </div>
                      <img src="../../../../../../assets/images/img3.png" alt="" />
                    </div>
                  </div>
        
            
                <div class="col-md-6">
                    <div class="most-picked-img">
                      <div class="most-picked-img-layer">
                        <i class="fa-solid fa-2x fa-eye"></i>
                        <i class="fa-solid fa-2x fa-heart"></i>
                      </div>
                      <div class="most-picked-img-widge">
                        <h3>
                          <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                        </h3>
                      </div>
                      <img src="../../../../../../assets/images/img2.png" alt="" />
                    </div>
                  </div>
            
            
                <div class="col-md-6">
                    <div class="most-picked-img">
                      <div class="most-picked-img-layer">
                        <i class="fa-solid fa-2x fa-eye"></i>
                        <i class="fa-solid fa-2x fa-heart"></i>
                      </div>
                      <div class="most-picked-img-widge" >
                        <h3>
                          <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                        </h3>
                      </div>
                      <img src="../../../../../../assets/images/img2.png" alt="" />
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
   
  
<!-- houses -->
  <div class="Houses">
    <h2>{{'landingPage.gallery.Houses with beauty backyard' | translate}}</h2>
    <div class="row">
        <div class="col-md-3" *ngFor="let room of rooms">
            <div class="houses-img"  [routerLink]="'/landingPage/home/rooms-details/'+room._id">
                <img [src]="room.images[0]" alt="">
                
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        
        <!-- <div class="col-md-3">
            <div class="houses-img">
                <div class="img-widge">
                    <h3>
                        <span>{{'landingPage.gallery.Choice' | translate}}</span>{{'landingPage.gallery.Popular' | translate}}
                      </h3>
                  </div>
                <img src="../../../../../../assets/images/img4.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/img5.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/img6.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div> -->
    </div>
</div>
  <div class="Houses">
    <h2>{{'landingPage.gallery.Hotels with large living room' | translate}}</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/a1.png" alt="">
                
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/img4.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/a1.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <div class="img-widge">
                    <h3>
                      <span>{{'landingPage.gallery.Choice' | translate}}</span>{{'landingPage.gallery.Popular' | translate}}
                    </h3>
                  </div>
                <img src="../../../../../../assets/images/img6.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
    </div>
</div>
  <div class="Houses">
    <h2>{{'landingPage.gallery.Apartments with kitchen set' | translate}}</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/k1.png" alt="">
                
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/k2.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <img src="../../../../../../assets/images/img5.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <div class="img-widge">
                    <h3>
                        <span>{{'landingPage.gallery.Choice' | translate}}</span>{{'landingPage.gallery.Popular' | translate}}
                      </h3>
                  </div>
                <img src="../../../../../../assets/images/k1.png" alt="">
            </div>
            <h3>Tobby Town</h3>
            <p>Gunung Batu, Indonesia</p>
        </div>
    </div>
</div>
</div>
</section>
