<section id="gallery">
  <div class="container mb-5">
    <div class="most-picked">
        <h2>{{'landingPage.gallery.Most Picked' | translate}}</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="most-picked-img">
              <div class="most-picked-img-layer">
                <i class="fa-solid fa-2x fa-eye"></i>
                <i class="fa-solid fa-2x fa-heart"></i>
              </div>
              <div class="most-picked-img-widge">
                <h3>
                  <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                </h3>
              </div>
              <img src="../../../../../../assets/images/img1.png" alt=""/>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="most-picked-img">
                  <div class="most-picked-img-layer">
                    <i class="fa-solid fa-2x fa-eye"></i>
                    <i class="fa-solid fa-2x fa-heart"></i>
                  </div>
                  <div class="most-picked-img-widge">
                    <h3>
                      <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                    </h3>
                  </div>
                  <img src="../../../../../../assets/images/img3.png" alt="" />
                </div>
              </div>
        
            
                <div class="col-md-6">
                    <div class="most-picked-img">
                      <div class="most-picked-img-layer">
                        <i class="fa-solid fa-2x fa-eye"></i>
                        <i class="fa-solid fa-2x fa-heart"></i>
                      </div>
                      <div class="most-picked-img-widge">
                        <h3>
                          <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                        </h3>
                      </div>
                      <img src="../../../../../../assets/images/img3.png" alt="" />
                    </div>
                  </div>
        
            
                <div class="col-md-6">
                    <div class="most-picked-img">
                      <div class="most-picked-img-layer">
                        <i class="fa-solid fa-2x fa-eye"></i>
                        <i class="fa-solid fa-2x fa-heart"></i>
                      </div>
                      <div class="most-picked-img-widge">
                        <h3>
                          <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                        </h3>
                      </div>
                      <img src="../../../../../../assets/images/img2.png" alt="" />
                    </div>
                  </div>
            
            
                <div class="col-md-6">
                    <div class="most-picked-img">
                      <div class="most-picked-img-layer">
                        <i class="fa-solid fa-2x fa-eye"></i>
                        <i class="fa-solid fa-2x fa-heart"></i>
                      </div>
                      <div class="most-picked-img-widge" >
                        <h3>
                          <span>{{ 50 | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                        </h3>
                      </div>
                      <img src="../../../../../../assets/images/img2.png" alt="" />
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
   
  
<!-- houses -->
  <div class="Houses">
    <h2>{{'landingPage.gallery.Houses with beauty backyard' | translate}}</h2>
    <div class="row">
        <div class="col-md-3" *ngFor="let room of rooms">
            <div class="houses-img"  >
              <div class="houses-img-layer">
                <i class="fa-solid fa-2x fa-eye" [routerLink]="'/landingPage/rooms/room-details/'+room._id"></i>
                <a  (click)="addToFavorites(room._id)"><i class="fa-solid fa-2x fa-heart"></i></a>
              </div>
              <div class="img-widge">
                <h3>
                  <span>{{ room.price | currency : "USD" }}</span> {{'landingPage.gallery.Per Night' | translate}}
                </h3>
              </div>
                <img [src]="room.images[0]" alt="" *ngIf="room.images[0]">
                <img src="../../../../../../assets/images/img3.png" alt="" *ngIf="!room.images[0]"> 
            </div>
           <div class="houses-text">
              <h3>{{"landingPage.general.roomNo"|translate}}:<span class="text-info">{{room.roomNumber}}</span></h3>
              <!-- <p>{{room.price}}</p> -->
            </div>
        </div>
        
       
    </div>
</div>
  <div class="Houses">
    <h2>{{'landingPage.gallery.Hotels with large living room' | translate}}</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="houses-img">
              <div class="houses-img-layer">
                <i class="fa-solid fa-2x fa-eye" ></i>
                <i class="fa-solid fa-2x fa-heart"></i>
              </div>
                <img src="../../../../../../assets/images/a1.png" alt="">
                
            </div>
           <div class="houses-text">
              <h3>{{'landingPage.gallery.tobby'|translate}}</h3>
              <p>{{'landingPage.gallery.indonesia'|translate}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
              <div class="houses-img-layer">
                <i class="fa-solid fa-2x fa-eye" ></i>
                <i class="fa-solid fa-2x fa-heart"></i>
              </div>
                <img src="../../../../../../assets/images/img4.png" alt="">
            </div>
           <div class="houses-text">
              <h3>{{'landingPage.gallery.tobby'|translate}}</h3>
              <p>{{'landingPage.gallery.indonesia'|translate}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
              <div class="houses-img-layer">
                <i class="fa-solid fa-2x fa-eye" ></i>
                <i class="fa-solid fa-2x fa-heart"></i>
              </div>
                <img src="../../../../../../assets/images/a1.png" alt="">
            </div>
           <div class="houses-text">
              <h3>{{'landingPage.gallery.tobby'|translate}}</h3>
              <p>{{'landingPage.gallery.indonesia'|translate}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="houses-img">
                <div class="img-widge">
                    <h3>
                      <span>{{'landingPage.gallery.Choice' | translate}}</span>{{'landingPage.gallery.Popular' | translate}}
                    </h3>
                  </div>
                  <div class="houses-img-layer">
                    <i class="fa-solid fa-2x fa-eye" ></i>
                    <i class="fa-solid fa-2x fa-heart"></i>
                  </div>
                <img src="../../../../../../assets/images/img6.png" alt="">
            </div>
            <div class="houses-text">
              <h3>{{'landingPage.gallery.tobby'|translate}}</h3>
              <p>{{'landingPage.gallery.indonesia'|translate}}</p>
            </div>
           
        </div>
    </div>
</div>
<!-- Ads -->
  <div class="Houses mb-5">
    <h2 *ngIf="showItem">{{'landingPage.gallery.Ads' | translate}}</h2>
    <div class="row g-5">
        <div class="col-md-3" *ngFor="let item of ads">
            <div class="houses-img border border-1">
              <div class="img-widge bg-danger">
                <h3 class="">
                  <span>{{item.room.discount}} %</span>{{'landingPage.gallery.discount'|translate}}
                </h3>
              </div>
              <div class="houses-img-layer">
                <i class="fa-solid fa-2x fa-eye" [routerLink]="'/landingPage/rooms/room-details/'+item.room._id"></i>
                <a  (click)="addToFavorites(item.room._id)"><i class="fa-solid fa-2x fa-heart"></i></a>
              </div>
                <img [src]="item.room.images" alt="" *ngIf="item.room.images">
                <img src="../../../../../../assets/images/img3.png"
                
                 alt="" *ngIf="!item.room.images"> 
                
            </div>
            <div class="houses-text">
            <h3>{{"landingPage.general.roomNo"|translate}}:<span class="text-info">{{item.room.roomNumber}}</span></h3>
          </div>
        </div>
       
    </div>
</div>
</div>
</section>
