@import "../../../../../../../assets/styles/abstracts/variables";
section {
  background-color: $color-blue;
  color: white;
  // width: 243px;
  height: 100%;
  min-height: 90vh;
  position: relative;

  a {
    display: block;
    text-decoration: none;
  }
  button {
    transition: all 1s;
  }
  .content {
    &-li {
      color: white;
      font-size: 1.2rem;
      padding: 6px 0 6px 1rem;
      margin: 1rem 0;

      span {
        margin-left: 10px;
        text-transform: capitalize;
        transition: all 0.5s;
      }
    }
  }

  .toggle-btn {
    background-color: #bdbdc6;
    border-radius: 8px 0 0px 8px;
    padding: 10px 5px;
    position: absolute;
    right: 0;
    border: transparent;
  }
  .reverse-btn {
    background-color: #203fc7;
    border-radius: 8px 0 0px 8px;
    padding: 10px 5px;
    transform: scale(-1.4);
    z-index: 5555;
    position: absolute;
    left: 100%;
    border: transparent;
    color: white;
  }
}

.active {
  background-color: rgba(26, 27, 30, 0.17);
  border-radius: 8px;
  color: white !important;
}
