<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <img class="w-50" src="../../../../../assets/images/Staycation..svg" alt="">
                    <p class="pt-2">{{'landingPage.footer.staycation' | translate }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <h2>{{'landingPage.footer.forBeginners' | translate }}</h2>
                <ul>
                    <li><a routerLink="/auth/register">{{'landingPage.footer.newAccount' | translate }}</a></li>
                    <li><a href="">{{'landingPage.footer.startBooking' | translate }}</a></li>
                    <li><a href=""> {{'landingPage.footer.payments' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>{{'landingPage.footer.Explore' | translate }}</h2>
                <ul>
                    <li><a href="">{{'landingPage.footer.careers' | translate }}</a></li>
                    <li><a href="">{{'landingPage.footer.privacy' | translate }}</a></li>
                    <li><a href="">{{'landingPage.footer.terms' | translate }}</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>{{'landingPage.footer.contact' | translate }}</h2>
                <ul>
                    <li><a href="">support@staycation.id</a></li>
                    <li><a href="">021 - 2208 - 1996</a></li>
                    <li><a href="">Staycation, Kemang, Jakarta</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center mt-4">
                <p>Copyright 2019 • All rights reserved • Staycation</p>
            </div>
        </div>
    </div>
</section>