@import "../../../../../../assets/styles/abstracts/variables";
section{
    .row{

       background-color:rgb(199, 211, 237); 
       border-radius: 15px;
       box-shadow: 1px 1px  10px #c3c7c651;
        .user-image{
            img{
                height: 200px;
                width: 200px;
                border-radius: 50%;
                border: $color-blue solid 1px;
                box-shadow: 1px 1px  10px #c3c7c651;
            }
        }
        .user-content{
    
            h2{
                color: $color-primary;

                font-weight: 400;
                font-size: 18px;
                margin: 10px 0;
                span{
                color: $color-blue;

                    font-size: 20px;
                    font-weight: 400;
                    padding: 0px 5px;
                    margin-right: 2px;
                }
            }
        }
    }
  button{
    color: $color-primary;

  }
}