<section class=" ">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-6 ">
                <div>
                    <img src="../../../../../assets/images/Staycation..svg" alt="">
                </div>
        <div class="col-md-10 d-flex align-items-center h-100 mx-auto">
          <div >
            <div>
                <h2>Login</h2>
                <p class="my-3">If you don’t have an account register you can <span>Register now!</span></p>
            </div>
            <div>
                <div>
                    <span id="addon-wrapping">Email Address</span>
                    <input type="text" class="form-control" placeholder="Please type here" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <div>
                    <span id="addon-wrapping">Password</span>
                    <input type="text" class="form-control" placeholder="Please type here" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <span><a>forget password?</a> </span>
            </div>
            <div>
                <button class="w-100 btn btn-primary">Login</button>
            </div>
          </div>
           
        </div>



            </div>
            <div class="col-md-6 login-bg">
                <span>Sign in to Roamhome</span>
                <span>Homes as unique as you.
                </span>
            </div>
        </div>
    </div>
</section>