<section>
    <div class="container-fluid">
        <div class="row  d-flex justify-content-center ">
            <div class="col-md-6">
                <div>
                    <img src="../../../../../assets/images/Staycation..svg" alt="">
                </div>
                <div>
                    <h2>Login</h2>
                    <p>If you don’t have an account register you can <span>Register now!</span></p>
                </div>
                <div>
                    <div>
                        <span id="addon-wrapping">Email Address</span>
                        <input type="text" class="form-control" placeholder="Please type here" aria-label="Username"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div>
                        <span id="addon-wrapping">Password</span>
                        <input type="text" class="form-control" placeholder="Please type here" aria-label="Username"
                            aria-describedby="addon-wrapping">
                    </div>
                    <span><a>forget password?</a> </span>
                </div>
                <div >
                    <button class="w-100 btn btn-primary">Login</button>
                </div>
                <div>
                    <span>or contionue with</span>
                </div>



            </div>
            <div class="col-md-6 login-bg">
                <div>
                    <!-- <img src="../../../../../assets/images/Group 33.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>