<section class="navbar-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 ms-auto">
                <div class="profile pointer" routerLink="profile">
                    <div class="profile-img" >
                        <img  src="assets/images/beautiful-latin-woman-avatar-character-icon-vector-33983177.jpg" alt="">
                    </div>
                    <span class="text-success ps-2">userName</span>
                </div>
            </div>
        </div>
    </div>
</section>

