<section class="m-5">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-4">
        <div class="img-box w-75">
          <img src="../../../../../../assets/images/testimonials.png" alt="" />
        </div>
        <div class="d-flex justify-content-center  arrows">
          <span class="i-circle mx-4"><i class="fa-solid fa-arrow-left fs-4 "></i></span>
          <span class="i-circle"> <i class="fa-solid fa-arrow-right fs-4"></i></span>
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="blue mb-5">Happy Family</h2>
        <span class="py-2">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
        <p class="fs-3 blue py-3 col-md-7">
          What a great trip with my family and I should try again next time soon
          ...
        </p>
        <span class="text-muted">Angga, Product Designer</span>
        <div>
          <button class="btn main-btn px-5">Read Their story</button>
        </div>
      </div>
    </div>
  </div>
</section>
