<section class="m-5"  id="reviews">
  <div class="container" >
   
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-4">
              <div class="img-box w-75">
                
                <img src="../../../../../../assets/images/testimonials.png" alt="" />
              </div>
              <div class="d-flex justify-content-center  arrows">
                <span class="i-circle mx-4" data-bs-target="#carouselExample"data-bs-slide="next" ><i class="fa-solid fs-4"[class]="_HelperService.textDirection === 'ltr'?'fa-arrow-left':'fa-arrow-right'"></i></span>
                <span class="i-circle" data-bs-target="#carouselExample" data-bs-slide="next"> <i class="fa-solid  fs-4 " [class]="_HelperService.textDirection === 'ltr'?'fa-arrow-right':'fa-arrow-left'"></i></span>
              </div>
            </div>
            <div class="col-md-8">
              <h2 class="blue mb-5">{{'landingPage.testimonials.h2' | translate}}</h2>
              <span class="py-2">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </span>
              <p class="fs-3 blue py-3 col-md-7">
                {{'landingPage.testimonials.p' | translate}}
              </p>
              <span class="text-muted">Angga, Product Designer</span>
              <div>
                <button class="btn main-btn px-5"> {{'landingPage.testimonials.button' | translate}}</button>
              </div>
            </div>
            <hr class="my-5">
          </div>
        </div>
        <div class="carousel-item">
           <div class="row justify-content-between align-items-center">
            <div class="col-md-4">
              <div class="img-box w-75">
                
                <img src="../../../../../../assets/images/testimonials.png" alt="" />
              </div>
              <div class="d-flex justify-content-center  arrows">
                <span class="i-circle mx-4"data-bs-target="#carouselExample" data-bs-slide="prev" ><i class="fa-solid fs-4"[class]="_HelperService.textDirection === 'ltr'?'fa-arrow-left':'fa-arrow-right'"></i></span>
                <span class="i-circle" data-bs-target="#carouselExample" data-bs-slide="next"> <i class="fa-solid  fs-4 " [class]="_HelperService.textDirection === 'ltr'?'fa-arrow-right':'fa-arrow-left'"></i></span>
              </div>
            </div>
            <div class="col-md-8">
              <h2 class="blue mb-5">{{'landingPage.testimonials.h2' | translate}}</h2>
              <span class="py-2">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </span>
              <p class="fs-3 blue py-3 col-md-7">
                {{'landingPage.testimonials.p' | translate}}
              </p>
              <span class="text-muted">Angga, Product Designer</span>
              <div>
                <button class="btn main-btn px-5"> {{'landingPage.testimonials.button' | translate}}</button>
              </div>
            </div>
            <hr class="my-5">
          </div>
        </div>
        <div class="carousel-item">
           <div class="row justify-content-between align-items-center">
            <div class="col-md-4">
              <div class="img-box w-75">
                
                <img src="../../../../../../assets/images/testimonials.png" alt="" />
              </div>
              <div class="d-flex justify-content-center  arrows">
                <span class="i-circle mx-4"data-bs-target="#carouselExample" data-bs-slide="prev" ><i class="fa-solid fs-4"[class]="_HelperService.textDirection === 'ltr'?'fa-arrow-left':'fa-arrow-right'"></i></span>
                <span class="i-circle" data-bs-target="#carouselExample" data-bs-slide="next"> <i class="fa-solid  fs-4 " [class]="_HelperService.textDirection === 'ltr'?'fa-arrow-right':'fa-arrow-left'"></i></span>
              </div>
            </div>
            <div class="col-md-8">
              <h2 class="blue mb-5">{{'landingPage.testimonials.h2' | translate}}</h2>
              <span class="py-2">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </span>
              <p class="fs-3 blue py-3 col-md-7">
                {{'landingPage.testimonials.p' | translate}}
              </p>
              <span class="text-muted">Angga, Product Designer</span>
              <div>
                <button class="btn main-btn px-5"> {{'landingPage.testimonials.button' | translate}}</button>
              </div>
            </div>
            <hr class="my-5">
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</section>
