<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5 pe-5 d-flex justify-content-between flex-column">
                <div class="header">
                    <h2>Forget Busy Work,<br> Start Next Vacation</h2>
                    <p>We provide what you need to enjoy your<br> 
                        holiday with family. Time to make <br> another 
                        memorable moments.</p>
                </div>
                <div class="icon-count me-5">
                    <ul class="d-flex ps-0 justify-content-between">
                        <li>
                            <div><i class="fa-solid fa-person-shelter"></i></div>
                            <div><p><span>1000</span>Rooms</p></div>
                        </li>
                        <li>
                            <div><i class="fa-regular fa-user"></i></div>
                            <div><p><span>1000</span>Visitors</p></div></li>
                        <li>
                            <div><i class="fa-solid fa-city"></i></div>
                            <div><p><span>1000</span>Cities</p></div></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 pt-5 d-flex justify-content-end">
                <div class="img-block">
                    <img src="../../../../../../assets/images/picture.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
