@import "../../../../../../assets/styles/abstracts/variables";
section{
    .header{
        h2{
            font-size: 3.5rem;
            color: $color-primary;
            font-weight: 600;
            font-family: 'Bebas Neue', sans-serif;
        }
        p{
            color: $color-tertiary;
            font-size: 1.1rem;
            padding: 10px 0;
        }
    }
    .start-booking{
    h3{
        color: $color-primary;
    }
    p{
        color: $color-primary;
    }
    .plus-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 0 0 5px !important;
    }
    .minus-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:  0  5px 5px 0 !important;
    }
    }
    
        .form-control{
            padding: 14px 5px;
            border: rgb(145, 141, 141) 1px solid;
            background-color: transparent;
            border-right: 0;
            border-left: 0;
           }
         

    .img-block{
     border: 1px solid $color-tertiary;
     padding: 3px;
     border-radius:60px 16px 16px 16px ;
     position: relative;
     height: 400px;
     width: 500px;
     background-color: white;
     
     img{
          position: absolute;
          bottom: 45px;
          right: 45px;

     }
    }
}

.blue{
color: $color-blue;
}
.dark-blue{
    color: $color-primary;
}

.bg-blue{
    background-color: $color-primary;
}

.lead{
    font-size: 17px;
    font-weight: 400;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dark-blue{
    color: #4866ED;
}
.dark-blue-btn{
    background-color: #4866ED;
    color: white;
}

@media (max-width :992px){
    .disappear{
      display: none;
      
    }
  
 
  }