<section class="py-5">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 pt-5  d-flex justify-content-between flex-column"
      >
        <div class="header">
          <h2>
            {{ "landingPage.header.1" | translate }}<br />
            {{ "landingPage.header.2" | translate }}
          </h2>
          <!-- <p class="mb-4">
            {{ "landingPage.header.3" | translate }}<br />
           
          </p> -->
        </div>
      
          <div class="pe-5">
            <h3>Start Booking</h3>
            <p class=" lead">Pick a Date</p>
            <!-- <div class="input-group mb-3">
              <span class="input-group-text bg-blue px-4" id="basic-addon1"
                ><i class="fa-regular fa-calendar-days text-white"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="20 Jan - 22 Jan"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              
            </div> -->
            <mat-form-field appearance="outline" class="w-100 " [formGroup]="rangeForm" [hideRequiredMarker]="hideRequiredMarker">
              <mat-label class="dark-blue ">Enter a date range</mat-label>
              <mat-date-range-input  [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
  
                <mat-error  *ngIf="rangeForm.controls.start.touched&&rangeForm.controls.start.hasError('required')">Start date required</mat-error>
              
            
                <mat-error *ngIf="rangeForm.controls.end.touched&&rangeForm.controls.end.hasError('required')">End date required</mat-error>
              
            </mat-form-field>
            <p class="">Capacity</p>
            <div class="input-group mb-3 pointer">
              <span class="input-group-text bg-danger  px-4" id="basic-addon1" (click)="onDecrement()"
                ><i class="fa-solid fa-minus text-white "></i
              ></span>
              <input
                type="number" min="1"
                class="form-control "
                aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="this.counter" 
              />
              <span class="input-group-text dark-blue-btn pointer px-4" id="basic-addon1"(click)="onIncrement()"
                ><i class="fa-solid fa-plus text-white"></i
              ></span>
            </div>
            <button  class="btn dark-blue-btn  px-5" [disabled]="rangeForm.invalid" (click)="onSubmit(rangeForm)">Explore</button>
          </div> 
        
       

        <!-- <div class="icon-count"  [class]="_HelperService.textDirection==='ltr'?'me-5':'ms-5'">
                    <ul class="d-flex ps-0 justify-content-between" 
                    >
                        <li>
                            <div><i class="fa-solid fa-person-shelter"></i></div>
                            <div><p><span>1000</span>{{'landingPage.header.icons.room' | translate }}</p></div>
                        </li>
                        <li>
                            <div><i class="fa-regular fa-user"></i></div>
                            <div><p><span>1000</span>{{'landingPage.header.icons.visitor' | translate }}</p></div></li>
                        <li>
                            <div><i class="fa-solid fa-city"></i></div>
                            <div><p><span>1000</span>{{'landingPage.header.icons.city' | translate }}</p></div></li>
                    </ul>
                </div> -->
      </div>
      <div
        class="col-md-6 pt-5 d-flex justify-content-end"
        [class]="_HelperService.textDirection === 'ltr' ? 'row' : 'row-reverse'"
      >
        <div class="img-block">
          <img src="../../../../../../assets/images/picture.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
