<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5 pe-5 d-flex justify-content-between flex-column">
                <div class="header">
                    <h2>{{'landingPage.header.1' | translate }}<br> {{'landingPage.header.2' | translate }}</h2>
                    <p>{{'landingPage.header.3' | translate }}<br> 
                        {{'landingPage.header.4' | translate }} <br> {{'landingPage.header.5' | translate }}</p>
                </div>
                <div class="icon-count"  [class]="_HelperService.textDirection==='ltr'?'me-5':'ms-5'">
                    <ul class="d-flex ps-0 justify-content-between" 
                    >
                        <li>
                            <div><i class="fa-solid fa-person-shelter"></i></div>
                            <div><p><span>1000</span>{{'landingPage.header.icons.room' | translate }}</p></div>
                        </li>
                        <li>
                            <div><i class="fa-regular fa-user"></i></div>
                            <div><p><span>1000</span>{{'landingPage.header.icons.visitor' | translate }}</p></div></li>
                        <li>
                            <div><i class="fa-solid fa-city"></i></div>
                            <div><p><span>1000</span>{{'landingPage.header.icons.city' | translate }}</p></div></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 pt-5 d-flex justify-content-end"
            [class]="_HelperService.textDirection==='ltr'?'row':'row-reverse'"
            >
                <div class="img-block">
                    <img src="../../../../../../assets/images/picture.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
