
<section>
  <div class="container-fluid h-100 p-4">
    <div class="row h-100">
      <div class="col-md-6">
        <div class="col-md-3">
          <div>
            <img src="../../../../../assets/images/Staycation..svg" alt="" />
          </div>
        </div>
        <div class="container">
          <div class="content">
            <h2>Reset Password</h2>
            <p>
              If you already have an account register
              <a routerLink="/auth/register" class="text-danger">Login here!</a>
            </p>
            <form
              [formGroup]="resetPasswordForm"
              (ngSubmit)="resetPassword(resetPasswordForm)"
            >
              <div class="row">
                <div class="col-md-10">
                  <label for="">Email Address</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Your Email"
                    formControlName="email"
                  />
                </div>
                <div class="col-md-10">
                  <label for="">OTP</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Please type here"
                    formControlName="seed"
                  />
                </div>

                <input
                  formControlName="password"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>

                <div class="col-md-10">
                  <label for="">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Please type here"
                    formControlName="password"
                  />
                </div>

                <div class="col-md-10">
                  <label for=""> Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Please type here"
                    formControlName="confirmPassword"
                  />
                </div>
                <div class="col-md-10">
                  <button class="main-btn w-100">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 image d-flex justify-content-center align-items-end">
        <div class="image-content">
          <h3>Sign up to Roamhome</h3>
          <span>Homes as unique as you.</span>
        </div>
      </div>
    </div>
  </div>
</section>

