<section class="home mt-2">
  <div class="container-fluid layer">
    <div class="row flex-column justify-content-between">
    <div>
      <div class="row">
        <div class="col-md-6">
          <div>
          <canvas id="canvas">{{chart}}</canvas>
        </div>
      </div>
        <div class="col-md-6 pie m-auto">
          <div>
            <canvas id="pie">{{chart}}</canvas>
          </div>
        </div>
      </div>
    </div>
    
      <div class="d-flex justify-content-evenly g-5">
        <div
          class="col-md-3 blue-card"
          
        >
          <span class="fw-bold ">All Rooms </span>
          <div
            class="my-2 me-5 d-flex justify-content-center align-items-center text-center"
          >
            <i class="fa-solid fa-person-shelter text-white-50 px-5 fs-1"></i>
            <span class="i-circle">{{allRooms}}</span>
          </div>
           <span class="pointer" routerLink="/admin/dashboard/rooms/addeditview"><i class="fa-solid fa-plus"></i> ADD ROOM</span> 
        </div>
        <div
          class="col-md-3 blue-card"
          
        >
          <span class="fw-bold ">All Facilities</span>
          <div
            class="my-2 me-5 d-flex justify-content-center align-items-center text-center"
          >
            <i class="fa-solid fa-wifi text-white-50 px-5 fs-1"></i>
            <span class="i-circle">{{allFacilities}}</span>
          </div>
          <span class="pointer" routerLink="/admin/dashboard/facilities"><i class="fa-solid fa-plus"></i> ADD Facility</span> 

        </div>
       
        <div class="col-md-3 blue-card text-white pointer " routerLink="/admin/dashboard/bookings">
          <span class="fw-bold">All Ads</span>
          <div
            class="my-2 me-5 d-flex justify-content-center align-items-center text-center"
          >
          <i class="fa-solid fa-clipboard-list text-white-50  fs-1 px-5"></i>
          
          
          <span class="i-circle">{{allAds}}</span>
         
          </div>
          <span class="pointer" routerLink="/admin/dashboard/ads/addAds"><i class="fa-solid fa-plus"></i> ADD Ads</span>
          
        </div>

        
      </div>
    </div>
  </div>
</section>
