@import "../../../assets/styles/abstracts/variables";

img{
    display: block;
    width: 100%;
     
}
a{
    text-decoration: none;
}
form{
    label{
        font-size: 18px;
        color: $color-primary;
        margin: 5px 0;
    }
    .form-control{
      background-color: #F5F6F8;
      border: 0;
      &::placeholder{
        color: #D3D6DC;
    }
    }
    input{
        margin-bottom: 8px ;
    }
}
.drop-image {
    width: 120px;
    height: 120px !important;
    border-radius: 50% !important;
    overflow-x: hidden !important;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
  }
  .eye-icon {
    position: absolute;
    right: 3%;
     transform: translateY(-160%);
    cursor: pointer;
    // z-index: 99;
  }

  .pointer{
    cursor: pointer;
  }