<section class="navbar-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 ms-auto">
                <div class="profile pointer" >
                    <div class="profile-img" >
                        <!-- <img *ngIf="userName.imagePath"  [src]="'https://upskilling-egypt.com/'+user.imagePath" alt=""> -->
                        <img   src="../../../../../../../assets/images/reset-bg.png" alt="" >
                    </div>
                    <span class="text-success ps-2">{{userName}}</span>
                   <div class="dropdown">
  <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Profile</button></li>
    <li><button class="dropdown-item" type="button">Change Password</button></li>
    <li><button class="dropdown-item" type="button" (click)="openLogOutDialogue()">Logout</button></li>
  </ul>
</div>
                </div>
            </div>
        </div>
    </div>
</section>

