@import "../../../../../assets/styles/abstracts/variables";
section{
    
    border-bottom: 1px dashed #E5E5E5;
    ul{
       a{
        font-size: 20px;
        color: $color-primary;
        cursor: pointer;
        &.active{
            color: $color-blue;
        }
       
       }
    }
   
}