<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <img src="../../../../../assets/images/Staycation..svg" alt="">
                </div>
            </div>
            <div class="col-md-10 d-flex justify-content-end">
                <div class="w-50">
                    <ul class="d-flex justify-content-between">
                        <li><a class="active">Home</a></li>
                        <li><a class="">Gallery</a></li>
                        <li><a class="">testimonial</a></li>
                        <li><a class="">Best</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
