<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto"></div>
      <mat-stepper linear #stepper class=""> 
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
          <div class="row px-5">
            <div class="mt-5 text-center">
              <h2 class="text-danger">Payment</h2>
              <p>Kindly follow the instructions below</p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <form [formGroup]="firstFormGroup">
                <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
                <mat-label>Upload Bukti Transfer</mat-label>
                <mat-form-field class="w-100 custom-mat" appearance="outline">
                  <input
                    matInput
                    formControlName="firstCtrl"
                    placeholder="Browse File"
                    
                  />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Name</mat-label>
                  <input
                    matInput
                    formControlName="firstCtrl"
                    placeholder="Last name, First name"
                    
                  />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Name</mat-label>
                  <input
                    matInput
                    formControlName="firstCtrl"
                    placeholder="Last name, First name"
                    
                  />
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
          <form [formGroup]="secondFormGroup">
            <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- salma -->
        <mat-step>
          <!-- <ng-template matStepLabel>Done</ng-template> -->
          <div class="row">
            <div class="container">
              <div class="col-md-6 mx-auto text-center py-5 ">
                <div class="text-center ">
                  <h2 class="title">Yay! Completed</h2>
                  <div class="text-center  ">
                    <img
                      src="../../../../../assets/images/Group 1 1.png"
                      class="w-50 m-auto py-2  "
                      alt=""
                    />
                  </div>
                  <p class="text-muted">
                    We will inform you via email later <br />
                    once the transaction has been accepted
                  </p>
                  <button
                    matStepperPrevious
                    class="btn px-4 shadow-lg  main-btn "
                  >
                    Back to Home
                  </button>

                  <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                </div>
              </div>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</section>
