@import "../../../../../assets/styles/abstracts/variables";

::ng-deep
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: blue;
}

section {
  .container {
    .row {
        
      h2 {
        color: $color-primary;
      }
      p {
        color: $color-tertiary;
      }
      .row {
        margin: 2px 5rem;
       
        .payment-data {
          ul {
            li {
              color: $color-primary;
              font-size: 1.2rem;
              margin: 7px 0;
              img {
                height: 50px;
                width: 50px;
              }
              p{
                margin: 0;
                color: $color-primary;
                font-size: 1.1rem;
              }
            }
          }
        }
      }
      mat-form-field {
        margin-top: 10px;
      }
      mat-label {
        color: $color-primary;
      }
    }
  }
}
::ng-deep .mat-horizontal-stepper-wrapper {
  color: #000;
  .mat-horizontal-stepper-header-container {
    width: 40% !important;
    margin: auto !important;
    justify-content: center !important;
    text-align: center;
  }
  .mat-step-icon {
    width: 45px;
    height: 45px;
    border: solid rgb(220, 218, 218) 3px !important;
    background-color: rgb(232, 227, 227);
    color: grey;
  }
  .mat-step-icon-selected {
    background-color: turquoise !important;
    color: white !important;
  }
  .mat-step-icon-state-done {
    background-color: turquoise !important;
    color: white !important;
  }
}

.title {
  color:#152C5B;
}
