<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="row mx-5">
      <mat-stepper linear #stepper>
        <mat-step [stepControl]="checkoutForm" [editable]="isEditable">
          <div class="row">
            <div class="my-1 text-center">
              <h2>Payment</h2>
              <p>Kindly follow the instructions below</p>
            </div>
            <div class="col-md-6 border-end">
              <div class="payment-data">
                <ul>
                  <li>Transfer Pembayaran:</li>
                  <li>Tax: 10%</li>
                  <li>Sub total: ${{totalprice}} USD</li>
                  <li>Total: ${{totalWithtax}} USD</li>
                  <li class="d-flex">
                    <span><img src="../../../../../assets/images/Bca.svg" alt="" /></span>
                    <div class="mt-3 ps-2">
                      <p>Bank Central Asia</p>
                      <p>2208 1996</p>
                      <p>BuildWith Angga</p>
                    </div>
                  </li>
                  <li class="d-flex">
                    <span><img src="../../../../../assets/images/mandiri.svg" alt="" /></span>
                    <div class="mt-3 ps-2">
                      <p>Bank Mandiri</p>
                      <p>2208 1996</p>
                      <p>BuildWith Angga</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 ps-5">
                  <div [formGroup]="checkoutForm">
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                      <input matInput placeholder="name" formControlName="name" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                      <input matInput placeholder="Email" type="email" formControlName="email" />
                    </mat-form-field>
                    <div class="stripe">
                      <ngx-stripe-elements 
                      [stripe]="stripe"
                      [elementsOptions]="elementsOptions" 
                    >
                      <ngx-stripe-card [options]="cardOptions" />
                    </ngx-stripe-elements>
                    </div>
                  </div>
               
              
                <div>
                  <button class="main-btn py-1 px-3 me-3"  (click)="createToken()">
                    Send
                  </button>
                  <button type="button" class="main-btn py-1 px-3" (click)="cancel()">
                    Cancel
                  </button>
                </div>
           
            </div>
          </div>
        </mat-step>

        <mat-step>
          <!-- <ng-template matStepLabel>Done</ng-template>  -->
          <div class="row">
            <div class="container">
              <div class="col-md-6 mx-auto text-center py-5">
                <div class="text-center">
                  <h2 class="title">Yay! Completed</h2>
                  <div class="text-center">
                    <img src="../../../../../assets/images/Group 1 1.png" class="w-50 m-auto py-2" alt="" />
                  </div>
                  <p class="text-muted">
                    We will inform you via email later <br />
                    once the transaction has been accepted
                  </p>
                  <button matStepperPrevious class="btn px-4 shadow-lg main-btn" routerLink="/landingPage">
                    Back to Home
                  </button>

                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</section>